node_modules
# Keep environment variables out of version control
.env
.env.test
coverage/*
storage/*
build/*
.vscode/
aux.html
src/.DS_Store
.DS_Store
infra/environments/preproduccion/.env_api
infra/environments/produccion/.env_api
infra/cert/
